# Backend API Base URL (e.g., http://localhost:8000)
NEXT_PUBLIC_API_BASE_URL=https://imacall-backend.onrender.com/

# Google AI API Key (Optional, if using Genkit with Google AI)
GOOGLE_GENAI_API_KEY=
